ul {
  padding-left: 30px;
  margin: 2rem 0;
}

ul li {
  line-height: 2rem;;
}

audio {
  margin-bottom: 2rem;
}

canvas {
  transition: .3s ease-in;
  position: relative;
}

.canvas {
  position: relative;
}

.canvas div {
  position: absolute;
  left: calc(50% - 10px);
  width: 20px;
  height: 100%;
  top: 0;
  opacity: 0.3;
  background-color: yellow;
}

#text {
  line-height: 33px;
  position: relative;
}